{% extends "main/nav.html" %}
{% block title %}
<title>Our Donors</title>
{% endblock title %}
{% block content %}
<div class='col-md-7 mx-auto'>
	<div class='container pt-3 mx-auto border'>
				<table class='table table-dark'>
					<thead>
						<tr class='text text-center'>
							<th><h4>Donors</h4></th>
						</tr>
					</thead>
						<tbody>
							<tr class='text text-center'>
								<td scope="col">Harsh Kapoor</td>
							</tr>
							<tr class='text text-center'>
								<td scope="col">Sanskar Khandelwal</td>
							</tr>
							<tr class='text text-center'>
								<td scope="col">Alok Maurya</td>
							</tr>
							
						</tbody>
				</table>
			</div>
		</div>
{% endblock content %}