{% extends 'main/nav.html' %}
{% block title %}
<title>Community Guidlines</title>
{% endblock title %}
{% block content %}
<div class='jumbotron jumbotron-fluid text text-center text-white bg-dark'>
	<h1>Community Guidelines</h1>
</div>
<div class='col-md-5 mx-auto'>
<div class='container p-3'>
	<h3 class='text text-dark'>-> Don't ever bully someone on this platform.</h3>
	<br />
	<h3 class='text text-dark'>-> Be gentle about your opinion and respect others' also.</h3><br />

	<h3 class='text text-dark'>-> Do not post spams and share content which are not relevant to question/answer.</h3>
	<br />

</div>
</div>
{% endblock content %}