{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html> 
<head>
  {% progressive_web_app_meta %}
	{% block title %}
	{% endblock title %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

  	<!-- NAVBAR -->

<div class='float-right mt-5 mr-3'>
  {% if user.is_authenticated %}
      <a class='nav-link btn btn-success' href='{% url "profile" request.user.id %}'>{{ request.user }}{% if request.user.is_staff %} (a) {% endif %}</a>
  {% endif %}
</div>
  	<nav class="navbar navbar-light navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'menu' %}"><img src='{% static "logo.png" %}' class='d-inline-block align-top' width='170px'></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class='border rounded border-dark'>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link bg-light" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class='nav-item'>
      	<a class='nav-link btn-light' href='{% url "write" %}'>Ask</a>
      </li>
      {% if not user.is_authenticated %}	
      	<li class='nav-item'>
      		<a class='nav-link btn-light' href='{% url "login" %}'>Login</a>
      	</li>
      	<li class='nav-item'>
      		<a class="nav-link btn-light" href='{% url "signup" %}'>Signup</a>
      	</li>
      {% endif %}
      <li class='nav-item float-right'>
        <a class='nav-link btn-light' href='{% static "AskJUET.apk" %}'>Android App</a>
      </li>
    </ul>
    
  </div>
</div>

</nav>
<!-- nav bar finished -->

  <hr>
  {% block side-nav %}
  {% endblock side-nav %}
	{% block content %}
	{% endblock content %}
  <br /><br /><br /><hr><br /><br />
	<div class='col'>
	<footer>
		<div class='jumbotron jumbotron-fluid bg-info text-white text-center'>
      <center><div class='container contaner-fluid m-3'>
        <a class='btn btn-light p-2' href='{% url "faqs" %}'>FAQs</a>
        <a class='btn btn-light p-2' href='{% url "guidelines" %}'>Community Guidelines</a>
        <a class='btn btn-light p-2' href='{% url "privacy" %}'>Privacy Policy</a>
        <a class='btn btn-light p-2' href='{% url "donors" %}'>Our Donors</a>
      </div></center>
      <hr style='border-color:white;width:50%;margin-top:25px;margin-bottom:25px;'>
			<div class='container'>
        <h5>Created by <a href='{% url "about" %}' class='btn btn-danger'>PantoMath</a> with  ❤️</h5>
        <br />
        <span class='btn btn-dark'><h6>Please Help us cover our hosting costs - <a href='{% url "donate" %}' class='btn btn-danger'>Donate</a></h6></span>

      <br />
      <h3 class='text text-light mt-3'>Best Viewed on Desktop, for mobile devices use it on landscape mode.</h3>
		  </div>
    </div>
	</footer>
</div>
</body>
</html>
